version: '3.8'

services:

  postgres:
    image: postgres:latest
    container_name: postgres
    environment:
      POSTGRES_PASSWORD: fares
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgresql:/var/lib/postgresql
  spring_boot_app:
    container_name: taskmanager
    #build: .
    image: geneslam123/taskmanager
    depends_on:
      - postgres
    ports:
      - "8080:8080"





volumes:
  postgresql:
